@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <h1>Session</h1>
        <span class="btn btn-primary" id="btnEdit">ADD</span>
    </div>
    <div class="col-sm-12" id="partialView"></div>
</div>
@section Scripts{
    <script>
        const loadData = () => {
            $.post('/Session/getall').done(result => $('#partialView').html(result)).fail(xhr => { console.log(xhr.responseText); alert('error') }).always(() => { });
        };

        const _edit = id => {
            $.post('/Session/edit', { id }).done(result => $('#partialView').html(result)).fail(xhr => { }).always(() => { });
        };
        loadData();

        $('#btnEdit').click(e=>_edit(0));
    </script>
}
